@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: rgb(17, 87, 17);
  --color-secondary: rgb(17, 87, 17);
  --color-tertiaty: #99a0a3;
  --background-color-primary: blue;
}

a { 
  @apply text-red-700;
}

a:hover {
  @apply border-b-2 border-red-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.text-primary {
  color: rgb(17, 87, 17);
}

.featureImg {
}